.clients-logo {
  display: flex;
  
  flex-wrap: wrap;
  margin-top: -20px;    
  margin-left: -20px;
    &__item {
      flex-basis: calc(100% / 2 - 20px);
      margin-top: 20px;    
      margin-left: 20px;
    }
@include mob {
  margin-top: -30px;
  margin-left: -30px;
  &__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
      @include tab {
        flex-basis: calc(100% / 3 - 30px);
      } 
      @include desk {
        flex-basis: calc(100% / 6 - 30px);
      }
    }
  }

}

.clients-logo__item {
  @include align();
}

.clients-logo__link {
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  color: var(--client-first-color);
  height: 80px;
  border: 1px solid currentColor;
  border-radius: 4px;
  background-color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
@include mob{
    width: 210px;
    height: 92px;  
  }
  @include tab {
    width: 226px;
    height: 92px;
  }
  @include desk{
    width: 170px;
    height: 92px;
  }
}

.clients-logo__icon {
  fill: currentColor;
}

.clients-logo__link:hover,
.clients-logo__link:focus {
  color: var(--client-second-color);
}
