
.direction-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}


.direction-list__heading {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}


.direction-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}