
.features-list {
  // display: flex;
  list-style: none;
}

.features-list__item:not(:last-child) {
  // margin-right: 30px;
}

.features-wrapper {
position: relative;
  max-width: 100%;
  height: 120px;
  margin-bottom: 5vmin;
  background: #968fb9;
  border-radius: 4px;
  @include mob{
  position: relative;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background: #968fb9;
  border-radius: 4px;

  }
}

.features-list__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    
}

.features-list__contents {
  font-weight: 700;
  font-size: 3vmin;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
  text-align: center;
  @include mob {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-title-color);
    text-align: center;
  }
}

.features-list__text {
  margin-top: 2vmin;
  width: 100%;
  height: 15vmin;
  font-size: 3vmin;
  line-height: 1.71;
  color: var(--main-text-color);
  @include mob {
  margin-top: 10px;
  width: 450px;
  height: 50px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
  }

}