
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-page-color);
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
@include desk {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
}

}

.footer-wrapper {
  margin-bottom: 60px;
  padding: 0;
  @include tab {
    margin: 0;
  }
}

.footer__footer-wrapper {
    margin: 0;
  @include desk {
    margin-right: 93px;
    margin-left: 70px;
  }
}

.footer__container {


  @include desk {
    display: flex;
    align-items: baseline;
  }
}

.footer-wrapper--zero-bottom {
  margin: 0;
}

.footer-wrapper-tab {
  margin-bottom: 60px;
  
  @include tab {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
  @include desk {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

}