
.card-set {
  list-style: none;
    margin-bottom: 30px;
    &__item {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: -30px;
    margin-left: -30px;
    &__item {

      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }
  }
  @include desk {
    &__item {
      flex-basis: calc(100% / 4 - 30px);
    }
  }
  

}


.card-set__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-title-color);
  text-align: center;
}




/* ..................обвёртка сотрудников....................... */

.card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--third-text-color);
}
.card-set__position {
  padding-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
  text-align: center;
}