
.card-set {
  display: flex;
  list-style: none;
}


.card-set__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-title-color);
  text-align: center;
}


.card-set__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* ..................обвёртка сотрудников....................... */

.card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-set__position {
  padding-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
  text-align: center;
}