.heading {

 
  font-weight: 700;
  font-size: 7vmin;
  line-height: 1.18;
  text-align: center;
  color: var(--second-title-color);
  @include mob{
  font-weight: 700;
  font-size: 28px;
  }
  @include desk {
    font-size: 36px;
    line-height: 1.17;
  }
}


.section__heading {
  margin-bottom: 6vmin;
  @include mob{
    margin-bottom: 30px;
  }
  @include desk{
    margin-bottom: 50px;
  }

}
