.logo {
  
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;  
  letter-spacing: 0.03em;
  color: var(--accent-color);
  
  @include desk {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  }
}


.logo__half--dark {
  color: #000;
}

.logo__half--light {
  color: #fff;
}