.menu-open-btn {
    display: block;
    margin-left: auto;
    border-style: none;
    background-color: #ffffff;
    @include tab {
        display: none;
    }
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    border-style: none;
    background-color: #ffffff;
}

.menu-icon {
    fill:var(--main-text-color);
    &:hover, &:focus {
        fill: var(--accent-color);
    }
}



.mob-menu {
    position: fixed;
    overflow: hidden;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #ffffff;
    &__container {
        height: 100%;
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @media screen and (min-width:768px){
        display: none;
    }
}

.mob-menu.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.mob-menu-top {
    margin-top: 32px;
}

.mob-menu-bottom {
    padding-bottom: 48px;
}

.mob-menu-list {
    list-style: none;
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

.mob-menu-list__link {
    
    font-family: Roboto;
    font-weight: 500;
    font-size: 13vmin;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--second-title-color);
    &:hover, &:focus {
        color: var(--accent-color);
    }
    @include mob {
        font-size: 40px;
    }
}



.mob-menu-list__link--curent {
    color: var(--accent-color);
}


.menu-contact-tel {
    display: block;
    margin-bottom: 32px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 8vmin;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @include mob {
        font-size: 34px;
    }
}

.menu-contact-mail {
    display: block;
    margin-bottom: 64px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 7vmin;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    @include mob {
        font-size: 24px;
    }
}

.mob-social {
    display: flex;
}

.mob-social__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}

.mob-social__item:not(:first-child) {
    padding-left: 10px;
    
}

.mob-social__link {
    font-weight: 500;
    font-size: 4vmin;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    @include mob {
        font-size: 18px;
    }
}

