.backdrop {
  position: fixed;
  transition: opacity 700ms, visibility 700ms;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden {
  .modal {
    transform: scale(2) rotateZ(180deg) translateY(-500px);
    transition: transform 1000ms;
  }
}

.modal {
  position: absolute;
  width: 100vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transform: scale(1) rotateZ(1);
  transition: transform 700ms;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @include mob {
    width: 450px;
    height: 609px;
  }
  @include desk {
    width: 528px;
    height: 581px;
  }
}

.modal-title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  @include desk {
    line-height: 1,3;
  }
}

.modal__form {
  @include margin();
}

.modal__button {
  @include margin();
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.form-group {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.textarea {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__form-group {
  margin-bottom: 10px;
}

.form__textarea {
  margin-bottom: 20px;
}

.input-wrapp {
  position: relative;
}

.form-group__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__label {
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-group__input {
  width: 78vmin;
  height: 40px;
  padding-left: 44px;
  padding-right: 44px;
  color: var(--second-btn-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &:focus + .form-group__icon {
    fill: var(--accent-color);
  }@include mob {
    width: 370px;
  }
  @include desk {
    width: 448px;
  }
}

.form__checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;

  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-size: 2vmin;
  line-height: 1.17;
  color: #757575;
  @include mob {
    font-size: 12px;
  }
  @include desk {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__icon {
  fill: #ffffff;
}

.checkbox__item {
  position: relative;
  @include align();
  justify-content: center;
  width: 2vmin;
  height: 2vmin;
  border: 1px solid #000;
  border-radius: 2px;
  margin: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include mob {
    margin: 2px;
    width: 16px;
    height: 15px;
    font-size: 12px;
  }
}

.checkbox__input:checked + .checkbox__label {
  .checkbox__item {
    background-color: #2196f3;
    border: none;
  }
}

.checkbox__link {
  margin-left: 4px;
  font-family: Roboto;
  font-size: 3vmin;
  line-height: 1.17;
  color: var(--accent-color);
  @include mob {
    font-size: 12px;
  }
  @include desk {
    font-size: 14px;
    line-height: 1.71;
  }
}

.comment {
  padding: 12px 16px;
  width: 78vmin;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &::placeholder {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  @include mob {
    width: 370px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  @include align();
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close__icon {
  display: block;
  margin: 0;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
