body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}


.link {
  text-decoration: none;
  color: currentColor;
}


.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}
