:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --maine-btn-color: #f5f4fa;
  --second-btn-color: #212121;
  --background-page-color: #2f303a;
  --background-team-color: #f5f4fa;
  --background-work-color: #e5e5e5;
  --border-card-color: #eeeeee;
  --client-first-color: #afb1b8;
  --client-second-color: #2196f3;
}